* {
    margin: 0;
    box-sizing: border-box;
}
/* cajas en bloque -> display: block
    cajas en linea -> display: inline */

/* .title {
    background-color: aliceblue;
}
*/

body {
    font-family: Arial, Helvetica, sans-serif;

}

.btn {
    background-color: aquamarine;
    color: black;
    text-decoration: none;
    padding: 15px 0px;
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 40px;
} 

.card {
    background-color: rgb(18, 54, 42);
    color:white;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 20px 25px;
    border-radius: 10px;
}

.card__img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
    border-radius: inherit;
}

.card__title {
    margin-bottom: 15px;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.card__paragraph {
    color: aquamarine;
}

.card__cta {
    display:block;
    background-color: whitesmoke;
    color: #000;
    text-align: none;
    margin-top: 20px;
    padding: 15px 0px;
    font-weight: bold;
    border-radius: 5px;
}